<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Seciton2_3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" code=Seciton2_3.class"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assignment2"/>
</launchConfiguration>
